﻿a {text-decoration: none;}
a:hover {text-decoration: underline;}

#page {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	width: auto;
	background: #ebf3ff;
}

/* jQuery UI Datepicker moving pixels fix */
table.ui-datepicker-calendar {border-collapse: separate;}
.ui-datepicker-calendar td {border: 1px solid transparent;}

/* jQuery UI Datepicker emphasis on selected dates */
.hasDatepicker .ui-datepicker .ui-datepicker-calendar .ui-state-highlight a {
	background: #743620 none;
	color: white;
}

/* jQuery UI Datepicker hide datepicker helper */
#ui-datepicker-div {display:none;}

.ui-datepicker-row-break { display: none !important; }
.ui-widget-content { border-bottom: 0px !important; border-left: 0px !important; border-top: 0px !important; border-right: 0px !important; }
.ui-datepicker { font-family:Garamond; font-size: 11px; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; }			
.ui-datepicker-inline { width: 40em !important; }
.ui-datepicker-calendar	{ border-collapse: collapse !important; }
.ui-datepicker-header { padding: 0px 0px 0px 0px !important; }
.ui-datepicker td { padding: 0px 0px 0px 0px !important; }
.ui-state-default { font-weight: normal !important; }
.ui-datepicker td, .ui-datepicker td a { text-align: center !important; padding: 0px 0px 0px 0px !important; }	